.saprun-dynamic-input {
    display: flex;
}

.saprun-dynamic-input_spacer {
    height: 0;
    overflow: hidden;
    font: inherit;
}

.saprun-dynamic-input_container {
    display: inline-table;
    height: 50%;
    padding-left: 5px;
}

.saprun-dynamic-input_input {
    border: none;
    background-color: inherit;
    padding: 0;
    position: absolute;
    font: inherit;
}

.saprun-dynamic-input_input:focus {
    outline: none;
}

.saprun-dynamic-input_unit {
    font: inherit;
    height: 50%;
    padding-left: 5px;
}

.saprun-dynamic-input:focus {
    outline: none;
}